.navbar-nav {
    flex-direction: row;
}

.nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.banner {
    position: relative;
    background-image: url(img/loc-17.jpg);
    background-size: cover;
    background-position: center;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffb70bb8;
    z-index: 1;
}

.search-container {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 0 auto;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar .form-control {
    border-radius: 0;
    margin-right: 10px;
}

.search-bar-box {
    padding: 17px;
    background: white;
    width: 703px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 26px;
}

.search-bar .btn {
    border-radius: 0;
}

.profile-cards .card {
    position: relative;
    padding: 5px;
    margin: 16px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 2px solid #ffb70b;
}

.premium-icon {
    position: absolute;
    top: 3px;
    right: 51px;
    background-color: #ffb70b;
    color: white;
    padding: 7px 10px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 29px;
    transform: translate(50%, -50%);
}

@media (min-width: 576px) {
    .form-inline .form-control {
        display: inline-block;
        width: 250px !important;
        vertical-align: middle;
        border-radius: 10px;
    }

    .profile-cards {
        padding: 20px
    }

    .mobileonly {
        display: none !important;
    }
}

.mobileonly {
    margin-bottom: 10px;
}

.search-bar button {
    background: #dd08a8;
    border: none;
    border-radius: 10px !important;
    width: 102px;
}

.profile-cards .card-img {
    width: 150px;
    height: 176px;
    /* border-radius: 50% !important; */
    object-fit: cover;
    border: 1px solid #ffb70b;
}

.btn-group {
    margin-top: 10px;
}

.btn-whatsapp {
    color: white !important;
    border-radius: 30px !important;
    background: green !important;
}

.btn-call {
    color: white !important;
    background: #0c3eff !important;
    border-radius: 30px !important;
}

.profile-cards .card p.card-text {
    margin-bottom: 0px !important;
    margin: 2px 0p;
}

.city-section {
    padding: 60px 20px;
    background-color: #f8f9fa;
    margin: 25px 0;
    position: relative;
    background-image: url(img/loc-17.jpg);
    background-size: cover;
    background-position: center;
}

.city-section .container {
    z-index: 1;
    display: block;
    position: relative;
}

.section-heading {
    position: absolute;
    top: -26px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #dd08a8;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    z-index: 1;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bolder;
}

.city-buttons {
    margin-top: 20px;
}

.city-buttons .btn {
    width: 100%;
    margin-bottom: 10px;
    background: white;
    color: black;
    font-size: 17px;
    border-radius: 15px;
    border: none;
    font-weight: 500;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.city-buttons .btn:hover {
    background: #dd08a8;
}

a.nav-link {
    background: #dd08a8;
    color: white !important;
    font-weight: 500;
    padding: 8px 22px !important;
    border-radius: 27px;
    border: none;
}

.content-box h2 {
    color: white;
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
}

.content-box {
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    color: white;
}
.profile-cards .card h3 {
    font-size: 1.25rem;
    margin-bottom: 5px !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.content-box p {
    margin-bottom: 5px;
}

h2.mainhead {
    font-size: 36px;
    font-weight: bolder;
    color: white;
}

.footer {
    background-color: #160038;
    color: white;
    padding: 20px 0;
    margin-top: 40px;
}

.footer a {
    color: #f8f9fa !important;
    margin: 0 10px;
    text-decoration: none !important;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .disclaimer {
    margin-top: 10px;
    font-size: 14px;
}

.footer .footer-links {
    text-align: center;
    margin-bottom: 10px;
}

.footer .footer-copyright {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    border-top: 1px solid #4f4f4f;
    padding-top: 10px;
}

.gallery-item {
    border: 2px solid #dd08a8;
    border-radius: 10px;
    object-fit: cover;
    height: 250px;
    width: 250px;
    overflow: hidden;
}

.badge {
    padding: 10px !important;
    background: #dd08a8;
    color: white;
    border-radius: 10px !important;
    margin: 2px;
}

@media only screen and (max-width: 900px) {
    .search-bar-box {
        width: auto;
        margin: 15px;
        border-radius: 10px;
    }
    .profile-cards .card .badge {
            font-size: 11px;
    margin: 0px;
    }
.profile-cards .card h3 {
    font-size: 15px;
    margin-bottom: 5px !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


    .margin-quite {
        margin-bottom: 10px;
    }

    nav {
        padding: 9px 0px !important;
    }

    h2.mainhead {
        font-size: 25px;
    }

    .banner {
        height: 326px;
    }

    .search-bar .form-control {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .search-bar button {
        width: 100%;
    }

    .premium-icon {
        font-size: 15px;
        right: 37px;
    }

    .profile-cards .card {
        padding: 8px;
        margin: 0px 0;
    }

    .profile-cards .card h5 {
        margin-bottom: 3px;
        font-size: 17px;
    }

    .profile-cards .card p {
        font-size: 13px;
        margin-bottom: 3px;
    }

    .profile-cards .card-img {
        width: 100px;
        height: 165px;
    }

    .profile-cards .col-md-6 {
         padding: 8px; 
    }

    .profile-cards .btn {
        font-size: 13px;
    }

    .section-heading {
        width: 300px;
        text-align: center;
    }

    .city-section {
        padding: 25px 0px;
    }

    .city-buttons {
        width: 50% !important;
    }

    .content-box h2 {
        font-size: 19px;
    }

    .content-box p {
        font-size: 14px !important;
        text-align: left !important;
    }

    .footer .footer-links {
        display: inline-grid;
    }

    .profile-cards {
        margin-top: 20px
    }

    .gallery-item {
        margin-top: 10px;
        width: 140px;
        height: 140px;
    }

    .whatsapp-btn {
        margin-top: 10px;
    }

    .content-box .col-md-3 {
        width: 50%;
    }
    .search-section {
    background-color: #f7b900;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
    border-bottom: 1px solid #ffb70b;
    /* border-radius: 8px; */
    /* margin-bottom: 30px; */
}
.content-area {
    background: #0c97c1;
    padding: 10px !important;
	
	  .content-box ul {
        text-align: left; /* Align unordered lists to the left */
    }
	
	 .content-box li {
        text-align: left; /* Align list items to the left */
    }
	
}
.content-box {
    text-align: left;
    padding: 0px !important;
    border-radius: 12px;
    color: white;
}
#cities-areas {
    padding: 10px;
}
}

.full-width-btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.whatsapp-btn {
    background: green !important;
    color: white !important;
    border-radius: 11px;
}

.call-now-btn {
    background: #0c97c1 !important;
    color: white !important;
    border-radius: 11px;
}

.btn i {
    margin-right: 5px;
}

.tab-content {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin-left: 20px;
}

.nav-pills .nav-link {
    border-radius: 0;
    padding: 15px;
    margin-bottom: 5px;
    color: #fff;
    background-color: #dd08a8;
    transition: background-color 0.3s ease;
}

.nav-pills .nav-link.active, .nav-pills .nav-link:hover {
    background-color: #dd08a8;
}

.city-button {
    margin: 5px;
    flex: 1 1 calc(20% - 10px); /* 5 buttons per line */
    min-width: calc(33% - 10px); /* 2 buttons per line on small screens */
    text-align: center;
    padding: 10px;
    color: #fff;
    background-color: #ffb70b;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
}

.city-button:hover {
    background-color: #dd08a8;
    color: #fff;
}

.city-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#cities-areas {
    padding: 20px;
}

.content-area {
    background: #0c97c1;
    padding: 20px;
	
	
}







.insights-section {
    background-color: #dd08a8;
    color: #fff;
    padding: 8px 0;
    text-align: center;
    width: 100%;
}

.insight {
    /* margin: 0 10px; */
    padding: 10px;
}

.insight-title {
    font-size: 18px;
    /* margin-bottom: 5px; */
}

.insight-value {
    font-size: 24px;
    font-weight: bold;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0c97c1	 !important;
}

.header {
    background-color: #000;
    /* White background for the header */
    border-bottom: 3px solid #ffb70b;
    padding: 15px 20px;
}

.header .navbar-brand {
    font-size: 24px;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.header .navbar-nav .nav-link {
    color: white !important;
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
    gap: 5px;
}

.header .custom-btn-primary {
    background-color: #08c;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .custom-btn-secondary {
    background-color: #dd08a8;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .custom-btn-primary:hover,
.header .custom-btn-secondary:hover {
    opacity: 0.9;
}

.header .custom-btn-primary {
    animation: jiggling 1s infinite;
}

@keyframes jiggling {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .header .navbar-brand {
        font-size: 20px;
    }

    .header .navbar-nav .nav-link {
        font-size: 14px;
    }

    .header .custom-btn-primary,
    .header .custom-btn-secondary {
        font-size: 14px;
        padding: 10px;
    }
}

.search-section {
    background-color: #0c97c1;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    border-bottom: 1px solid #ffb70b;
    /* border-radius: 8px; */
    /* margin-bottom: 30px; */
}

.search-section h1 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 700;
}

.search-section .form-inline {
    flex-wrap: wrap;
    justify-content: center;
}

.search-section .form-group {
    margin: 10px;
    position: relative;
    width: 100%;
    max-width: 270px;
}

.search-section .select-wrapper {
    position: relative;
}

.search-section .select-wrapper i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: ##dd08a8;
}

.search-section .form-control {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px 15px;
    height: auto;
    font-size: 16px;
    padding-left: 40px;
    /* Add space for the icon */
}

.search-section .btn-search {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.btn-search:hover {
    background-color: white;
}

@media (max-width: 576px) {
    .search-section .form-group {
        flex: 1 1 100%;
    }
}
